<script type="text/html" data-template-name="BattleReportShareView" data-css="BattleReportShareView">
    <div class="sectionloading"></div>
    <div class="battle-report-share-view">
        <div class="share-content clearfix">
            <div class="avatar-container"></div>
            <div class="box-container">
                <div class="textinput">
                    <input type="text" class="share-comment-textarea" name="body" placeholder="<%=@('ID_WEB_COMMON_WRITE_A_COMMENT')%>..."/>
                </div>
                <div id="battlereport-box-container"></div>
            </div>
        </div>
    </div>
    <div class="button primary"><%= @('ID_WEB_COMMON_SOCIALSHARE_SHARE') %></div>
</script>


