<script type="text/html" data-template-name="BattleReportView" data-css="BattleReportView">
    <div class="sectionloading"></div>

    <div class="sectioninfo battlereport-eor">
        <div id="battlereport-eor" class="hidden"></div>
    </div>

    <div id="battlereport-timestamp" class="sectioninfo hidden">
        <span class="game-icon"></span><span class="platform-icon small"></span>
        <span class="timestamp"></span>
    </div>

    <div id="battlereport-actions" class="section hidden"></div>

    <div id="battlereport-prizes" class="hidden"></div>

    <section id="battlereport-playerreport" class="hidden"></section>

    <div class="sectionhead hidden">scoreboard</div>

    <div id="battlereport-scoreboard" class="hidden"></div>

</script>

<script type="text/html" data-template-name="BattleReportView_eor" data-css="BattleReportView">
    <%
    var locale = require('locale');
    var enums = require('enums');
    var squadNames = require('gamedata/warsaw/gameserver').squadNames;
    var teamsOrder = [];
    var isAnyAttacker = false;
    var winningTeam = 0;
    var winningTeamName;
    var isCarrierAssault = (gameMode == enums.GameMode.CARRIERASSAULT || gameMode == enums.GameMode.CARRIERASSAULTSMALL || gameMode == enums.GameMode.CARRIERASSAULTLARGE);

    if (player && teams[player.team]) {
        teamsOrder.push(+teams[player.team].id);
    }

    $.each(teams, function (i,  t) {
        if (teamsOrder.indexOf(t.id) == -1) { teamsOrder.push(t.id); }
        if (t.isWinner) {
            winningTeamName = teams[winningTeam].name;
            winningTeam = t.id;
        }
        if (t.isAttacker) { isAnyAttacker = true; }
    });

    %>

<section class="battlereport-eor gamemode-<%= gameMode %> mobile hmmm" style="background-image: url(<%= mapImage %>)">
    <div class="winning-team">
        <h2>
            <% var winningTeamLocale, winningTeamStr; %>

            <% if (!winningTeam) { %>
                <%= @('ID_WEB_BATTLEREPORT_DRAW') %>
            <% } else if (isActivePlayer && player) { %>
                <% if (player.team == winningTeam) { %>
                    <%= @('ID_WEB_BATTLEREPORT_YOUR_TEAM_WON') %>
                <% } else { %>
                    <%= @('ID_WEB_BATTLEREPORT_YOUR_TEAM_LOST') %>
                <%}%>
            <% } else if (player && player.persona && player.persona.personaName) {
                if (player.team == winningTeam) {
                    winningTeamStr = locale.t('ID_WEB_BATTLEREPORT_NAME_TEAM_WON');
                } else {
                    winningTeamStr = locale.t('ID_WEB_BATTLEREPORT_NAME_TEAM_LOST');
                } %>
                <%= winningTeamStr.replace("[username]", player.persona.personaName) %>
            <% } else { %>
                <%
                    var pattern = "[team]";
                    if(!winningTeam) {
                        winningTeamLocale = winningTeamName;
                    }
                    winningTeamStr = locale.t('ID_WEB_BATTLEREPORT_SQUAD_X_WON');

                    if (gameMode == 8) {
                        pattern = "[squad]";
                        winningTeamLocale = locale.t(squadLocale[winningTeam]);
                        winningTeamStr = locale.t('ID_WEB_BATTLEREPORT_SQUAD_X_WON');
                    }
                %>
                <%= winningTeamStr.replace(pattern, winningTeamLocale) %>
            <% } %>
        </h2>
    </div>

    <div class="info">
        <p>
            <%= @(map) %> - <%= locale.t("ID_WEB_COMMON_GAMEMODE_" + gameMode) %> <br />
            <%= @('ID_WEB_BATTLEREPORT_ROUND_TIME') %>: <%= duration %>
        </p>
    </div>

    <div class="vs"><%= @('ID_WEB_BATTLEREPORT_VERSUS_SHORT') %></div>

    <div class="score-type">
        <% if (scoreTypeLocales.length == 1) { %>
            <%= @(scoreTypeLocales[0]) %>
        <% } else if (isCarrierAssault) { %>
            <%= @(scoreTypeLocales[0]) %><br>
            <%= @(scoreTypeLocales[1]) %>
        <% } %>
    </div>

    <div class="teams">
        <% var teamLocaleName, sli; %>
        <% teamsOrder.forEach(function (teamId, i) { %>
            <% team = teams[teamId] %>
            <div class="team clearfix">
                <%
                  var classes = "name"
                  if (!$.isNumeric(team.name)) {
                     classes += " flag-" + team.name;
                  }
                  teamLocaleName = locale.t('ID_WEB_BATTLEREPORT_TEAM_' + team.name);
                %>
                <div class="<%=classes%>"><%= teamLocaleName %></div>

                <% if (!isCarrierAssault && scoreTypeLocales.length > 1) { sli = team.id - 1; %>
                    <% if (isAnyAttacker) { %>
                        <p class="score-label">
                            <strong>
                                <% if (team.isAttacker) { %>
                                    <%= @('ID_WEB_COMMON_ATTACKERS') %>
                                <% } else { %>
                                    <%= @('ID_WEB_COMMON_DEFENDERS') %>
                                <% } %>
                            </strong>
                        </p>
                     <%
                        sli = team.isAttacker ? 0 : 1;
                      } %>
                    <p class="score-label">
                        <% if (scoreTypeLocales[sli]) { %>
                            <%= @(scoreTypeLocales[sli]) %>
                        <% } %></p>
                <% } %>
                <p class="score">
                    <% if (isCarrierAssault) { %>
                        <%= team.titanHealth %>%<br>
                        <%= team.achievedObjectives %>/0
                    <% } else { %>
                        <%= team.score %>
                    <% } %>
                </p>
            </div>
            <% if (i % 2) { %><div style="clear: both"></div><% } %>
        <% }); %>
    </div>
</section>
</script>

<script type="text/html" data-template-name="BattleReportView_prizes" data-css="BattleReportView">
    <div class="sectiontable">
        <% prizes.forEach(function (prize, i) { %>
        <% if (i % 2 === 0) { %><div class="row"><% } %>
        <div class="col"<% if (prize.persona){ %> data-persona-id="<%= prize.persona.personaId %>"<% } %>>
            <h4><%= prize.localeName %></h4>
            <p class="name"><% if(prize.persona) { %><%= prize.persona.personaName %><% } %></p>
            <div class="score-container">
                <p class="name"><%= prize.localeScore %></p>
                <p class="score"> <%= prize.score %><% if (prize.type === "accuracy") {%>%<% } %></p>
            </div>
            <%= prize.avatar %>
        </div>
        <% if (i % 2 !== 0) { %></div><% } %>
        <% }); %>
    </div>
</script>

<script type="text/html" data-template-name="BattleReportView_actions" data-css="BattleReportView">
        <a id="bn-share-battlereport" class="button primary"><%= @("ID_WEB_COMMON_SOCIALSHARE_SHARE") %></a>
        <% if (mayAddMoreFavorites) { %>
            <a id="bn-favorite-battlereport" class="button premium">
                <% if (isFavorite) { %>
                    <%= @("ID_WEB_BATTLEREPORT_ACTIONBUTTONS_REMOVEFAVORITE") %>
                <% } else { %>
                    <%= @("ID_WEB_BATTLEREPORT_ACTIONBUTTONS_ADDFAVORITE") %>
                <% } %>
            </a>
        <% } %>
</script>

<script type="text/html" data-template-name="BattleReportView_player_report" data-css="BattleReportView">
    <div class="sectionhead playerreport-head clearfix">
        <div class="pull-left"><%= avatar %></div>
        <div class="pull-left">
            <h2><%= playerReport.persona ? playerReport.persona.personaName : @('ID_MOBILE_UNKNOWN_PLAYER') %></h2>
            <% if (player.squadId > 0) { %>
            <p><%= @("ID_WEB_BATTLEREPORT_SQUAD_NAME_" + player.squadId) %> <%= @("ID_WEB_BATTLEREPORT_SQUAD") %></p>
            <% } %>
        </div>
    </div>

    <% if (playerPrize) { %>
    <div class="sectioninfo playerreport-prize">
        <% var localeScore = "ID_WEB_BATTLEREPORT_WEBPRIZE_" + playerPrize.type.toUpperCase(); %>
        <p>
            <%= @(localeScore) %>
            <span class="pull-right">
                <span class="scorename"><%= @(localeScore + "_SCORE") %>:</span>
                <%= playerPrize.score %><% if (playerPrize.type === "accuracy") {%>%<% } %>
            </span>
        </p>
    </div>
    <% } %>

    <div class="sectioninfo playerreport-stats">
        <ul>
            <li>
                <span><%= @("ID_WEB_BATTLEREPORT_STATS_SKILL_LEVEL") %></span>
                <strong><% if(playerReport.stats.skill > 0) print("+"); %><%= playerReport.stats.skill %></strong>
            </li>
            <li>
                <span><%= @("ID_WEB_BATTLEREPORT_STATS_KILLS") %></span>
                <strong><%= playerReport.stats.kills %></strong>
            </li>
            <li>
                <span><%= @("ID_WEB_BATTLEREPORT_STATS_DEATHS") %></span>
                <strong><%= playerReport.stats.deaths %></strong>
            </li>

            <li>
                <span><%= @("ID_WEB_BATTLEREPORT_STATS_KILL_DEATH_RATIO") %></span>
                <strong><%= playerReport.stats.kd_ratio %></strong>
            </li>
            <li>
                <span><% if(isBfh) { %>
                        <%= @("ID_WEB_GEOLB_SCORETYPE_CPM") %>
                    <% } else { %>
                        <%= @("ID_WEB_COMMON_STATS_SCORE_PER_MINUTE_ABBR") %>
                    <% } %>
                </span>
                <strong><%= playerReport.stats.spm %></strong>
            </li>
            <li>
                <span><%= @("ID_WEB_BATTLEREPORT_STATS_ACCURACY") %></span>
                <strong><%= playerReport.stats.accuracy %>%</strong>
            </li>
        </ul>
    </div>

    <% if (playerReport.best.class || playerReport.best.weapon || playerReport.best.vehicle) { %>
        <div class="sectionhead"><%= @("ID_WEB_COMMON_BEST") %></div>
        <div class="sectiontable playerreport-best">
            <div class="row">
                <% if (playerReport.best.class) { %>
                <div class="col">
                    <div class="best-image">
                        <div class="kit-icon small <%= playerReport.best.class.slug %>"></div>
                    </div>
                    <div class="best-key"><%= @(playerReport.best.class.nameSID) %></div>
                    <div class="best-value"><%= playerReport.best.class.score %></div>
                </div>
                <% } %>

                <% if (playerReport.best.weapon) { %>
                <div class="col deeplink" data-type="weapon" data-guid="<%= playerReport.best.weapon.name %>">
                    <div class="best-image">
                        <% if (isBfh) { %>
                            <div class="item-image weapon inverted medium <%=playerReport.best.weapon.image.toLowerCase().replace('_fancy','')%>"></div>
                        <% } else { %>
                            <div class="item-image weapon_unlock medium <%=playerReport.best.weapon.image.toLowerCase()%>"></div>
                        <% } %>
                    </div>
                    <div class="best-key"><%= @(playerReport.best.weapon.nameSID) %></div>
                    <div class="best-value"><%= playerReport.best.weapon.kills %> <%= @("ID_WEB_BATTLEREPORT_STATS_KILLS") %></div>
                </div>
                <% } %>

                <% if (playerReport.best.vehicle) { %>
                <div class="col deeplink" data-type="vehicle" data-guid="<%= playerReport.best.vehicle.guid %>">
                    <div class="best-image">
                         <% if (isBfh) { %>
                            <div class="item-image vehicle inverted medium <%=playerReport.best.vehicle.image.toLowerCase().replace('_fancy','')%>"></div>
                        <% } else { %>
                            <div class="item-image vehicle_unlock medium <%=playerReport.best.vehicle.image.toLowerCase()%>"></div>
                        <% } %>
                    </div>
                    <div class="best-key"><%= @(playerReport.best.vehicle.nameSID) %></div>
                    <div class="best-value"><%= playerReport.best.vehicle.kills %> <%= @("ID_WEB_BATTLEREPORT_STATS_KILLS") %></div>
                </div>
                <% } %>
            </div>
        </div>
    <% } %>

    <div class="sectionhead"><%= @("ID_WEB_BATTLEREPORT_AWARDS") %></div>
    <% if (highlightedUnlocks.length) { %>
    <div class="sectionbutton playerreport-unlocks">
            <% highlightedUnlocks.forEach(function (unlock) { %>
                <% var img = unlock.unlockImageConfig || unlock.imageConfig %>
                <% if (img) { %>
                    <div><div class="item-image small <%=img.category%> <%=img.slug.toLowerCase()%>"></div></div>
                <% } %>
            <% }); %>
    </div>
    <% } else { %>
    <div class="sectioninfo"><p>No Awards or Unlocks<p></div>
    <% } %>
</script>

<script type="text/html" data-template-name="BattleReportView_scoreboard" data-css="BattleReportView">
    <% var dom = require("dom"); %>
    <div id="battlereport-scoreboard-tabs" class="segmentedcontrol hidden">
    <% var l = _.keys(teams).length, width = (l > 0) ? Math.floor(100 / l) : 100; %>
    <% $.each(teams, function (t, team, i) { %>
        <% var extraClass = t === 0 ? "selected" : ""; %>
        <a class="<%=extraClass%>" data-teamid="<%= team.id %>" style="width:<%= width %>%;">
            <%= @('ID_WEB_BATTLEREPORT_TEAM_' + team.name) %>
            <%= team.score %>
        </a>
    <% }); %>
    </div>


    <% $.each(teams, function (t, team) { %>

     <%
    var team_name = team.name;
    if (team_name == "SWAT") team_name = "LE";
    else if (team_name == "THIEVES") team_name = "CR";
    %>

    <div class="battlereport-scoreboard" data-teamid="<%= team.id %>">
        <% var trColor = team.id === allies ? "tr-color-allied" : "tr-color-enemy"; %>
        <div class="sectiontablehead <%= trColor %>">
            <div class="col"><%= team_name %> <%= team.score %></div>
            <div class="col"><%= @("ID_WEB_COMMON_SCORE") %></div>
        </div>
        <div class="sectiontable">
            <% team.players.forEach(function (personaId, i) { %>
            <% var player = players[personaId]; %>
            <%
                var extraClass = [];
                var personaId = player.persona ? player.persona.personaId : "";
                if (player.isActivePlayer) extraClass.push("active-player");
                if (player.isInActivePlayerSquad) extraClass.push("active-squad");
                if (player.dnf) extraClass.push("dnf");
                extraClass = extraClass.join(" ");
            %>
            <div class="row <%=extraClass%>" data-personaid="<%= personaId %>">
                <div class="col"><%= (i + 1) %></div>
                <div class="col"><%= dom.user_avatar(player.user)[0].outerHTML %></div>
                <div class="col"><span class="item-image rank xsmall r<%= player.rank %>"></span></div>
                <div class="col">
                    <p><%= player.persona ? player.persona.personaName : @('ID_MOBILE_UNKNOWN_PLAYER') %></p>
                    <p>K: <%= player.kills %> D: <%= player.deaths %></p>
                </div>
                <div class="col align-right"><%= player.combatScore %></div>
            </div>
            <% }); %>
        </div>
    </div>
    <% }); %>
</script>