<script type="text/html" data-template-name="DevGuideMarkupView">
    <div class="section">
        <div class="sectionhead">Coding style</div>
        <div class="sectioninfo">
            <p>Use soft-tabs with a four space indent.</p>
        </div>
        <div class="sectioninfo">
            <p>All tags and attribute names should be lowercase, with double-quotes (<code>"</code>) around attribute values.</p>
        </div>
    </div>
    <div class="section">
        <div class="sectionhead">Sections</div>
        <div class="sectioninfo">
            <p>Most view markup on Battlelog Mobile is organized into sections. Each section contains a logical grouping of related rows. Individual rows within a section are separated vertically by 1px while sections are separated by 8px.</p>
        </div>
        <div class="sectioninfo">
            <p>For example, this section consists of 3 rows including the one you are reading - a <code>sectionhead</code> and two <code>sectioninfo</code> rows.</p>
        </div>
    </div>
</script>
