<script type="text/html" data-template-name="DevGuideHomeView">
    <div class="section">
        <div class="sectionhead">In-App Guide</div>
        <div class="sectionbutton styling">Styling (SCSS)</div>
        <div class="sectionbutton markup">Markup (HTML)</div>
        <div class="sectionbutton components">UI Components</div>
    </div>
    <div class="section">
        <div class="sectionhead">External Links</div>
        <div class="sectioninfo">
            <p>This in-app Dev Guide mostly deals with creating &amp; styling templates for existing mobile views. There is also documentation available that describes how view controllers and templates work in the mobile app:</p>
        </div>
        <div class="sectionbutton vc-overview">ViewController Overview</div>
        <div class="sectionbutton templating">Templating Overview</div>
    </div>
</script>
