<script type="text/html" data-template-name="DevGuideComponentsView" data-css="DevGuideComponentsView">
    <div class="section">
        <div class="sectionhead">.sectionhead</div>
        <div class="sectionbutton example1">.sectionbutton</div>
        <div class="sectionbutton small example2">.sectionbutton.small</div>
        <div class="sectioninfo">
            <p>.sectioninfo p</p>
        </div>
        <div class="sectionmessage">.sectionmessage</div>
        <div class="sectionloading">.sectionloading</div>
        <div class="sectionerror">.sectionerror</div>
        <div class="settingrow">
            <div class="label">.settingrow .label</div>
            <div class="value">.value</div>
        </div>
    </div>
    <div class="section">
        <div class="sectionhead">Data Tables</div>
        <div class="sectiontablehead exampletable">
            <div class="col">head1</div>
            <div class="col">head2</div>
            <div class="col">head3</div>
        </div>
        <div class="sectiontable exampletable">
            <div class="row">
                <div class="col">data1</div>
                <div class="col">data2</div>
                <div class="col">data3</div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="sectionhead">Input</div>
        <div class="sectioninfo">
            <div class="textinput">
                <input type="text" placeholder=".textinput input" value="" />
            </div>
        </div>
        <div class="sectioninfo">
            <div class="textinput search">
                <input type="text" placeholder=".textinput.search input" value="" />
                <a class="clear-button button cancelTouchOnMove"><span class="icon"></span></a>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="segmentedcontrol">
            <a class="selected">Item 1</a>
            <a>Item 2</a>
            <a>Item 3</a>
        </div>
    </div>
    <div class="section">
        <a class="button primary">.button.primary</a>
        <a class="button small primary">.button.small.primary</a>
        <a class="button">.button</a>
        <a class="button small">.button.small</a>
        <a class="button primary premium">.button.primary.premium</a>
        <a class="button small premium">.button.small.premium</a>
        <div class="sectioninfo">
            <p style="text-align: center;">
                <a class="button primary inline">.button.inline</a>
                <a class="button inline small">.button.inline.small</a>
            </p>
        </div>
    </div>
</script>
