<script type="text/html" data-template-name="ForumThreadView" data-css="ForumThreadView"></script>

<script type="text/html" data-template-name="ForumThreadView-scrollviewcontent" data-css="ForumThreadView">
    <div class="section thread-info">
        <div class="thread-title header"></div>
    </div>
    <div class="section pagination">
        <a class="button first"></a>
        <a class="button previous"></a>
        <span class="pagenumber"></span>
        <a class="button next"></a>
        <a class="button last"></a>
    </div>
    <div class="section posts"></div>
    <div class="section pagination">
        <a class="button first"></a>
        <a class="button previous"></a>
        <span class="pagenumber"></span>
        <a class="button next"></a>
        <a class="button last"></a>
    </div>
    <div class="section reply">
        <div class="sectionhead"><%=@('ID_MOBILE_FORUM_LEAVE_A_REPLY')%></div>
        <div class="sectioninfo writepost">
            <div class="textinput">
                <textarea></textarea>
            </div>
            <div class="forum-bb-buttons">
                <a class="button bb-bold" data-before="[b]" data-after="[/b]">&nbsp;</a>
                <a class="button bb-italic" data-before="[i]" data-after="[/i]">&nbsp;</a>
                <a class="button bb-underline" data-before="[u]" data-after="[/u]">&nbsp;</a>
                <a class="button bb-strikethrough" data-before="[strike]" data-after="[/strike]">&nbsp;</a>
                <a class="button bb-spoiler" data-before="[spoiler]" data-after="[/spoiler]">&nbsp;</a>
                <a class="button bb-link"  data-before="[link]" data-after="[/link]">&nbsp;</a>
                <a class="button bb-quote" data-before="[quote]" data-after="[/quote]">&nbsp;</a>
                <a class="button bb-center" data-before="[center]" data-after="[/center]">&nbsp;</a>
                <a class="button bb-headline" data-before="[h1]" data-after="[/h1]">&nbsp;</a>
            </div>
        </div>
        <div class="sectioninfo writepost">
            <div class="buttons">
                <a class="button primary inline post"><%=@('ID_MOBILE_FORUM_POST')%></a>
            </div>
        </div>
    </div>
    <div class="section cannot-reply">
        <div class="sectionempty sectionmessage"><%=@('ID_MOBILE_FORUM_THREADVIEW_NO_DOUBLE_POSTS')%></div>
    </div>
    <div class="section thread-locked">
        <div class="sectionempty sectionmessage"><%=@('ID_MOBILE_FORUM_THREADVIEW_LOCKED')%></div>
    </div>
</script>

<script type="text/html" data-template-name="ForumThreadView-post" data-css="ForumThreadView">
    <div class="post-row official-<%= post.isOfficial %> <%= post.isCensored ? "censored" : "" %>  <%= post.myPost ? " mypost " : "" %>" data-post-id="<%= post.id %>">
    <div class="sectioninfo post-author">
        <div class="col-avatar">
            <div class="post-author-avatar"></div>
        </div>
        <div class="col-info">
            <div class="post-author-name"><%= post.owner.username %></div>
            <div class="post-author-info">
                <%= postdate %>
                <% if (lastEditedDate){ %>
                <em>
                    (<%=@('ID_WEB_FORUM_EDITED')%> <%= lastEditedDate %> <%=@('ID_WEB_FORUM_BY')%>
                    <%= (post.lastEditor) ? post.lastEditor.username : post.owner.username %>)
                </em>
                <% } %>
            </div>
        </div>
        <div class="col-report"></div>
    </div>
    <div class="sectioninfo post-content"><%= post.formattedBody %></div>
    <div class="sectioninfo post-options">
        <% if (edit){ %>
        <button class="edit-post button secondary small inline"><%=@('ID_WEB_COMMON_EDIT')%></button>
        <% } %>
        <button class="quote-post button secondary small inline"><%=@('ID_WEB_FORUM_QUOTE')%></button>
    </div>
    </div>
</script>