<script type="text/html" data-template-name="HelpAboutView">
    <div class="section">
        <div class="sectionbutton about"><%=@('ID_MOBILE_VIEW_TITLE_ABOUT')%></div>
        <div class="sectionbutton eula"><%=@('ID_MOBILE_VIEW_TITLE_EULA')%></div>
        <div class="sectionbutton privacypolicy"><%=@('ID_MOBILE_VIEW_TITLE_PRIVACYPOLICY')%></div>
        <div class="sectionbutton tos"><%=@('ID_MOBILE_VIEW_TITLE_TOS')%></div>
        <div class="sectionbutton usagesharing"><%=@('ID_MOBILE_VIEW_TITLE_USAGESHARING')%></div>
        <div class="sectionbutton roc"><%=@('ID_WEB_FOOTER_LINKS_RULES_OF_CONDUCT')%></div>
        <div class="sectionbutton help"><%=@('ID_MOBILE_VIEW_TITLE_HELP')%></div>
    </div>
</script>