<script type="text/html" data-template-name="NewsItemView" data-css="NewsItemView">
    <div class="section info">
        <div class="title header"></div>
    </div>
    <div class="section content">
        <div class="sectioninfo">
            <div class="info">
                <a class="author-link">
                    <span class="avatar-20 author-avatar"><img src="images/default-avatar-52.png" alt="" /></span>
                </a>
                <span class="author">
                    &nbsp;<%=@('ID_MOBILE_NEWSITEM_BY')%> <strong><a class="author-link author-name"></a></strong> &nbsp;&bull;
                </span> <span class="date"></span>
            </div>

            <div class="body"></div>
        </div>
    </div>
</script>
