<script type="text/html" data-template-name="AssignmentDetailView" data-css="AssignmentDetailView">
    <div class="assignment-name"></div>
    <div class="assignment-image"></div>
    <div class="section info hidden"></div>
    <div class="section objectives">
        <div class="sectionhead"><%=@('ID_MOBILE_ASSIGNMENTS_OBJECTIVES')%></div>
        <div class="items"></div>
    </div>
    <div class="section rewards">
        <div class="sectionhead"><%=@('ID_MOBILE_ASSIGNMENTS_REWARDS')%></div>
        <div class="items"></div>
    </div>
</script>
