<script type="text/html" data-template-name="DogtagsView" data-css="DogtagsView">
    <div class="toolbar currentdogtags">
        <div class="current-dogtags">
            <div class="basic">
                <div class="soldiername">
                    <div class="clantag"></div>
                    <div class="name"></div>
                </div>
            </div>
            <div class="advanced"></div>
        </div>
    </div>
    <div class="toolbar short">
        <div class="segmentedcontrol type">
            <a data-type="taken"><%=@('ID_MOBILE_DOGTAGS_TAKEN')%></a>
            <a data-type="unlocked"><%=@('ID_MOBILE_DOGTAGS_UNLOCKED')%></a>
        </div>
    </div>
</script>
