<script type="text/html" data-template-name="DogtagsEditorView" data-css="DogtagsView">
    <div class="toolbar currentdogtags">
        <div class="current-dogtags">
            <div class="basic">
                <div class="soldiername">
                    <div class="clantag"></div>
                    <div class="name"></div>
                </div>
            </div>
            <div class="advanced"></div>
        </div>
    </div>
    <div class="toolbar short">
        <div class="segmentedcontrol type">
            <a data-type="basic"><%=@('ID_MOBILE_DOGTAGS_LEFT')%></a>
            <a data-type="advanced"><%=@('ID_MOBILE_DOGTAGS_RIGHT')%></a>
        </div>
    </div>
</script>
