<script type="text/html" data-template-name="NewsItemView" data-css="NewsItemView">
    <div class="title"></div>
    <div class="info">
        <a class="author-link">
            <span class="avatar-20 author-avatar"><img src="images/default-avatar-52.png" alt="" /></span>
        </a>
        <span class="author">
            &nbsp;<%=@('ID_MOBILE_NEWSITEM_BY')%> <a class="author-link author-name"></a> &nbsp;&bull;
        </span>
        &nbsp;<%=@('ID_MOBILE_NEWSITEM_POSTED')%> <span class="date"></span>
    </div>
    <div class="content"></div>
</script>
