<script type="text/html" data-template-name="UnlocksView" data-css="UnlocksView">
    <div class="toolbar short">
        <div class="segmentedcontrol kitfilter">
            <a data-kit="0"><%=@('ID_WEB_COMMON_ALL')%></a>
            <a data-kit="1"><span class="kit-icon assault"></span></a>
            <a data-kit="2"><span class="kit-icon engineer"></span></a>
            <a data-kit="32"><span class="kit-icon support"></span></a>
            <a data-kit="8"><span class="kit-icon recon"></span></a>
        </div>
    </div>
    <!-- ScrollView -->
</script>
