<script type="text/html" data-template-name="WeaponDetailView" data-css="ItemDetailView">
    <div class="item-info">
        <div class="image"></div>
        <div class="name"></div>
    </div>
    <div class="section characteristics">
        <div class="sectioninfo description"></div>
        <div class="items">
            <div class="statrow fireModeAuto">
                <div class="label"><%=@('ID_WEB_PROFILE_STATS_FIREMODEAUTO')%></div>
                <div class="value"></div>
            </div>
            <div class="statrow fireModeSingle">
                <div class="label"><%=@('ID_WEB_PROFILE_STATS_FIREMODESINGLE')%></div>
                <div class="value"></div>
            </div>
            <div class="statrow fireModeBurst">
                <div class="label"><%=@('ID_WEB_PROFILE_STATS_FIREMODEBURST')%></div>
                <div class="value"></div>
            </div>
            <div class="statrow rateOfFire">
                <div class="label"><%=@('ID_WEB_PROFILE_STATS_RATEOFFIRE')%></div>
                <div class="value"></div>
            </div>
            <div class="statrow ammo">
                <div class="label"><%=@('ID_WEB_PROFILE_STATS_AMMO')%></div>
                <div class="value"></div>
            </div>
            <div class="statrow range hidden">
                <div class="label"><%=@('ID_WEB_PROFILE_STATS_RANGE')%></div>
                <div class="value"></div>
            </div>
        </div>
    </div>
    <div class="section statistics">
        <div class="sectionhead"><%=@('ID_WEB_PROFILE_STATS_STATISTICS')%></div>
        <div class="items">
            <div class="statrow kills">
                <div class="label"><%=@('ID_WEB_COMMON_KILLS')%></div>
                <div class="value"></div>
            </div>
            <div class="statrow headshots">
                <div class="label"><%=@('ID_WEB_COMMON_HEADSHOTS')%></div>
                <div class="value"></div>
            </div>
            <div class="statrow timeEquipped">
                <div class="label"><%=@('ID_WEB_COMMON_STATS_TIME_USED')%></div>
                <div class="value"></div>
            </div>
            <div class="statrow accuracy">
                <div class="label"><%=@('ID_WEB_COMMON_ACCURACY')%></div>
                <div class="value"></div>
            </div>
            <div class="statrow shotsFired">
                <div class="label"><%=@('ID_WEB_COMMON_SHOTS_FIRED')%></div>
                <div class="value"></div>
            </div>
        </div>
    </div>
    <div class="section unlocks hidden">
        <div class="sectionhead"><%=@('ID_WEB_COMMON_PROGRESS_UNLOCKS')%></div>
        <div class="items"></div>
    </div>
</script>
